li {
	list-style-type: none;
}
#wrapper {
	width: 1200px;
	height: 988px;
	margin: 0 auto;
	background: url(../images/fon.jpg);
}
#header {

}
#logo {
	width: 941px;
	height: 232px;
	margin-top: 15px;
	margin-left: 126px;
}
#menu{
	float: right;
	margin-left: 265px;
	margin-right: 190px;
	top: 194px;
	position: absolute;
}

#menu ul li {
	float: left;
}
#content {
	width: 866px;
	height: 704px;
	background-color: #ffffff;
	margin-top: 10px;
	margin-left: 167px;
}
#text {
	padding: 1px 25px; 54px 24px;
}
h1 {
	margin-bottom: 0;
	font-family: Trebuchet MS;
	font-weight: regular;
	color: #20660e;
}
p {
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size; 20px;
	color: #f98b36;
}
#line {
	border-bottom: 2px solid #e7741a;
	margin-top: 0;
	margin-bottom: 28px;
	font-weight: bold;
}
#content-image {
	margin-top: 42px;
}
#list {
	padding: 0 0 0 382px;
}
.border-image {
	border: 3px solid #e7741a;
}
#foot {
	padding: 124px 12px 5px 8px;
}


